<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userInfo">
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>street: </b>{{ user.address.street }}
                    </li>
                    <li class="list-group-item">
                        <b>city: </b>{{ user.address.city }}
                    </li>
                    <li class="list-group-item">
                        <b>zipcode: </b> {{ user.address.zipcode }}
                    </li>
                </ul>
            </td>
            <td>{{ user.phone }}</td>
            <td>{{ user.company.name }}</td>
        </tr>
    </tbody>
</table>